<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:course="http://typo3.org/ns/FourViewture/Course/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">
    <f:if condition="{courses}">
        <f:then>
            <course:schema courses="{courses}" />
            <f:if condition="{settings.layout} == 'list'">
                <f:then>
                    <f:render partial="Course/List" arguments="{_all}" />
                </f:then>
                <f:else>
                    <f:render partial="Course/Table" arguments="{_all}" />
                </f:else>
            </f:if>

            <f:render partial="Pagination" arguments="{_all}" />
        </f:then>
        <f:else>
            <p><f:translate key="no_courses_found" /></p>
        </f:else>
    </f:if>
</f:section>
</html>
