<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">
    <strong><f:translate key="courses_in" /> <f:translate key="month.{currentDate -> f:format.date(format: 'n')}" /> <f:format.date format="Y">{currentDate}</f:format.date></strong>

    <f:render partial="MonthBrowser" arguments="{_all}" />

    <f:if condition="{courses}">
        <f:then>
            <f:if condition="{settings.layout} == 'list'">
                <f:then>
                    <f:render partial="Course/List" arguments="{_all}" />
                </f:then>
                <f:else>
                    <f:render partial="Course/Table" arguments="{_all}" />
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <p><f:translate key="no_courses" /></p>
        </f:else>
    </f:if>
</f:section>
</html>
